<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %> <span class="small">(leave blank if you don't want to change it)</span><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :twitter_account %><br />
    <%= f.text_field :twitter_account %>
  </div>
	<% if current_user.role?(:admin) # or current_user.email="sacha357@gmail.com" %>
	  <div class="field">
	    <%#= f.label :role %><br />
	    <%#= f.text_field :role %>
		<label for="roles">Roles</label>
		<ul>
		<% @roles.each do |role| %>
		<li>
			<%= check_box_tag(
	                           "user[role_list][#{role.id}]", 
	                           "1", 
	                           @user.roles.detect{|d| d == role}) %>
			<%= "#{role.name}"%>
		</li>
		<% end %>
		</ul>
	  </div>
	<% end %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>