<h1>
  <%= gravatar_for @user %>
  <%= @user.email %>
</h1>
	<p><a href="/documents/new" class="button">Create new document</a></p>
<ul>
		<% if current_user.role?(:admin) %>
	<li><strong>Role:</strong> <%= @user.role! %> </li>
	<li><strong>URL:</strong>  <%= link_to user_path(@user), @user %></li>
		<% end %>
	<li><strong>Twitter:</strong>  <%= @user.twitter_account %></li>
	<li><% if can? :edit, @user %>
		<%= link_to "Edit", edit_user_path(@user) %>
	<% end %>
	</li>
</ul>
	
<br/>
<hr/>
<% unless @user.documents.empty? %>
  <div class="documents">
    <%= render @documents %>
  </div>
<% end %>