<div id="palette">
		<ul>
			<li><a href="#info">Info</a></li>
			<li><a href="#toc">T.O.C.</a></li>
			<% if can? :update, @document %>
				<li><a class="edit-link" href="#edit">Edit</a></li>
			<% end %>
		</ul>
		<div id="info">
			<%= link_to "Download PDF", document_path(@document, :format => "pdf") %><br/>
			<%= link_to "View Notes", document_notes_url(@document)%>
			<%= link_to "Add Note", new_document_note_url(@document)%>
		</div>
		<div id="toc">
			<h3><%= @document.title %></h3>
			<ol id="toc-inner"></ol>
		</div>
		<div id="edit">
			Now editing…<br/>
			<ul>
			<li><a class="saveLink" href="#">Save</a></li>
			<li><a class="start-link" href="#">Start editing</a></li>
			<li><a class="finish-link" href="#">Done editing</a></li>
			</ul>
			
			Toolbar<br/>
			<ul>
			<li><a class="boldLink" href="#">Make bold</a></li>
			<li><a class="italicLink" href="#">Make italic</a></li>
			<li><a class="leftLink" href="#">Justify left</a></li>
			<li><a class="rightLink" href="#">Justify right</a></li>
			<li><a class="linkLink" href="#">Make link</a></li>
			<li><a class="helloLink" href="#">Insert hello</a></li>
			<li><a class="codeLink" href="#">Wrap with code</a></li>
			<li><a class="h3Link" href="#">h3</a></li>
			<li><a class="h4Link" href="#">h4</a></li>
			<li>
				<select class="headerSelect">
					<option value="p">Paragraph</option>
					<option value="h2">H2</option>
					<option value="h3">H3</option>
					<option value="h4">H4</option>
					<option value="h4">H5</option>
				</select>
			</li>
			</ul>
			
				<% if can? :update, @document %>
			<%= link_to "Edit Document", edit_document_path %>
		<% end %>
		
		</div>
</div>