<div id="palette" class="not-editing">
		<div class="top-bar">
			<% if user_signed_in? %>
				 <a href="/users/sign_out" class="logout button icon-button"><span>Log Out</span></a>
			<% else %>
				 <a href="/users/sign_in" class="login button icon-button"><span>Log In</span></a>
			<% end %>
			<% if can? :update, @document %>
				<a href='#' id="edit-switch" class="switch inactive-switch">
					<span class="indicator button"></span>
					<span class="option off">View</span>
					<span class="option on last">Edit</span>
				</a>
			<% end %>
			<a class="minmax minimize button icon-button"><span>Minimize</span></a>
		</div>
		<% if can? :update, @document %>
			<div class="edit-options">
				<a href='#' id="source-switch" class="switch inactive-switch">
					<span class="indicator button"></span>
					<span class="option off">Text</span>
					<span class="option on last">Code</span>
				</a>
				<div class="save">
					<span class="loader"></span>
					<span class="success-indicator"></span>
					<span class="error-indicator"></span>
					<a href="#" class="button save-button"><span>Save</span></a>
				</div>
			</div>
		<% end %>
		<div class="contents">
			<ul class="navigation">
				<li class="info first"><a href="#info"><span>Info</span></a></li>
				<li class="toc"><a href="#toc"><span>T.O.C.</span></a></li>
				<% if can? :update, @document %>
					<!--
					<li class="stats"><a href="#stats"><span>Stats</span></a></li>
					-->
					<li class="settings"><a href="#settings"><span>Settings</span></a></li>
					<li class="edit-only typography"><a href="#typography"><span>Typography</span></a></li>
				<% end %>
				<!--
				<li class="profile"><a href="#profile"><span>Profile</span></a></li>
				<li class="download"><a href="#download"><span>Download</span></a></li>
	
				<li class="edit last"><a class="edit-link" href="#edit"><span>Edit</span></a></li>
				-->
				<li class="fill"></li>
			</ul>
			<div id="info">
				<!--
				<h3>Informations</h3>
				-->
				<div class="content">
					<h4><%= @document.title %></h4>
					<% unless @document.updated_at.nil? %>
					<p>Last updated: <%= time_ago_in_words(@document.updated_at) %> ago.</p>
					<%#= link_to "Download PDF", document_path(@document, :format => "pdf") %>
					<hr/>
					<% end %>
					<% unless @document.user.nil? %>
					<p><strong>Author</strong>: <a href="http://twitter.com/<%= @document.user.twitter_account %>"><%= @document.user.twitter_account %></a></p>
					<hr/>
					<% end %>
					<% if user_signed_in? %>
						<div class="user-info">
							<p>Signed in as <strong><%= link_to current_user.email, user_path(current_user) %></strong></p>
							<p><a href="/documents/new" class="button">New document</a></p>
							<p><%= link_to "Edit account", edit_user_path(current_user) %></p>
							<p><%= link_to "Sign out", destroy_user_session_path %>	</p>
						</div>
					<% else %>
						<div class="docu-intro">
							<p>This document is powered by <strong>Documonk</strong>, a free service to host and edit documents. <a href="/documents/1">Learn more</a>, or go ahead and<%#= link_to "Sign up now!", new_user_registration_path %></p>
							<p><a href="<%= new_user_registration_path %>" class="button">Create a document</a></p>
							<hr/>
							<p>Have an account? <%= link_to "Sign in", new_user_session_path, :class =>
"login" %></p>
						</div>
					<% end %>
				</div>
			</div>
			<div id="toc">
				<h3>Table of Contents</h3>
				<div class="content">
				<!--
				<h4><%= @document.title %></h4>
				-->
				<ol id="toc-inner"></ol>
				</div>
			</div>
			<% if can? :update, @document %>
			<!--
			<div id="stats">
				*coming soon*
			</div>
			-->
			<div id="settings">
				<h3>Settings</h3>
				<div class="content">
				<%= form_for(@document) do |f| %>
				  <%= render 'shared/error_messages', :object => f.object %>
				  <div class="field">
					<h4>Google Analytics</h4>
				    <%= f.text_field :stats_code %>
									<p class="small description">Enter your Google Analytics tracking code here to enable analytics (something like "UA-1234567-89").</p>

				  </div>
				  <div class="field">
					<h4>Make document private?</h4>
					<p>
					<span class="public">
						<%= f.label :public_true, "Public" %>
				    	<%= f.radio_button :public, true %>
					</span>
					<span class="private">
						<%= f.label :public_false, "Private" %>
						<%= f.radio_button :public, false %>
					</span>
					</p>
										<p class="small description">Choose "private" if you don't want your document to appear in public listings</p>

				  </div>
				  <div class="actions save">
				    <%#= f.submit "Submit" %>
					<input id="settings_submit" name="commit" type="submit" value="Submit">
					<span class="loader"></span>
					<span class="success-indicator"></span>
					<span class="error-indicator"></span>
				  </div>
				<% end %>

				
				</div>
			</div>
			<div id="typography">
				<h3>Typography</h3>
				<div class="content">
					<ul>
					<li><a class="boldLink" href="#">Make bold</a></li>
					<li><a class="italicLink" href="#">Make italic</a></li>
					<li><a class="leftLink" href="#">Justify left</a></li>
					<li><a class="rightLink" href="#">Justify right</a></li>
					<li><a class="linkLink" href="#">Make link</a></li>
					<li>
						<select class="headerSelect">
							<option value="p">Paragraph</option>
							<option value="h2">H2</option>
							<option value="h3">H3</option>
							<option value="h4">H4</option>
							<option value="h4">H5</option>
						</select>
					</li>
					</ul>
				</div>
			</div>
		<% end %>
		</div>
</div>