<%#= render 'shared/tinymce' %>
<%= render 'shared/aloha' %>

<%= form_for(@document) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>