<%#= render 'highlight' %>
<%= render 'chili' %>
<%#= render 'documents/aloha' %>
<%= render 'documents/custom' %>

<%= javascript_include_tag 'jquery-ui-1.8.10.custom.min' %>
<%= javascript_include_tag 'jquery.hotkeys' %>
<%= javascript_include_tag 'jquery.form' %>


<%= javascript_include_tag 'jquery.tableofcontents' %>
<%= javascript_include_tag 'monk.document.show' %>

<%= render 'documents/palette' %>

<h1><%= @document.title %></h1>

<div id="content">
	<%= raw Sanitize.clean(@document.content, Sanitize::Config::RELAXED) %>
</div>

<%= form_for(@document) do |f| %>
  <%#= render 'shared/error_messages', :object => f.object %>
  <%= f.hidden_field :content %>
<% end %>