<!DOCTYPE html>
<html>
<head>
  <title>Documonk</title>
   <%= render 'layouts/stylesheets' %>
   <%= render 'layouts/javascript' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<!-- layouts/application.html.erb -->
<div id="container">
<div id="header">
	<div id="logo"><%= link_to "Home", root_path %></div>		
	<div id="nav">
		<% if user_signed_in? %>
	 		<%= link_to "Home", root_path %> |
			<%= link_to "My Documents" , current_user %> |
	 		<%= link_to "New Document", new_document_path %> |
	    	<%= link_to "Sign out", destroy_user_session_path %>
	  	<% else %>
	 		<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
		<% end %>
	</div>
</div>
	
<div class="page">

<% flash.each do |key, value| %>
     <div class="flash <%= key %>"><%= value %></div>
<% end %>

		<%= yield %>

</div>
      <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>

