<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/images/favicon.ico" />
	
  <title><%= yield :page_title %></title>
   <%= render 'layouts/stylesheets' %>
   <%= render 'layouts/javascript' %>
  <%= csrf_meta_tag %>
<!--
<script type="text/javascript" src="http://use.typekit.com/kex8jid.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
  <%= yield :head %>

</head>
<body class="<% if !@new %>ajax-enabled<% end %>">
	<!-- layouts/application.html.erb -->
<div id="container">
	<div id="header">
		<div id="logo"><%= link_to "Home", root_path %></div>		

	</div>
	<div class="page">
		<% flash.each do |key, value| %>
		     <div class="flash <%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		</div>
	<div class="footer">
		<ul>
			<li>Designed and coded by <a href="http://www.sachagreif.com">Sacha Greif</a></li>
			<li><a href="https://getsatisfaction.com/documonk">Support</a></li>
			<li><a href="http://twitter.com/Documonk">Twitter</a></li>
			<li><a href="http://documonk.posterous.com">Blog</a></li>
			<li class="small">Fugue icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a></li>
		</ul>
	</div>
</div>


      <%= debug(params) if Rails.env.development? %>

   <%= render 'shared/login' %>



<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
try {
reinvigorate.track("l83q6-dlku7tko35");
} catch(err) {}
</script>

</body>
</html>

