<!DOCTYPE html>
<html>
<head>
  <title>Documonk</title>
   <%= render 'layouts/stylesheets' %>
   <%= render 'layouts/javascript' %>
  <%= csrf_meta_tag %>
<script type="text/javascript" src="http://use.typekit.com/kex8jid.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<!-- layouts/application.html.erb -->
<div id="container">
<div id="header">
	<div id="logo"><%= link_to "Home", root_path %></div>		

</div>
	
<div class="page">

<% flash.each do |key, value| %>
     <div class="flash <%= key %>"><%= value %></div>
<% end %>

		<%= yield %>

</div>
      <%= debug(params) if Rails.env.development? %>
</div>

   <%= render 'shared/login' %>

</body>
</html>

