<!DOCTYPE html>
<html>
<head>
  <title>Documonk</title>
   <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<!-- layouts/application.html.erb -->
	
	<div class="page">
		
		<div class="nav">
		 <%= link_to "Home", root_path %> |
		 <%= link_to "New", new_document_path %>
		</div>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= link_to current_user.email , current_user %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

<% flash.each do |key, value| %>
     <div class="flash <%= key %>"><%= value %></div>
<% end %>

<%= yield %>
</div>
      <%= debug(params) if Rails.env.development? %>

</body>
</html>

